* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container {
  height: 100%;
  width: 100%;
}

.top-bar {
  height: 50px;
  background: #888;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 10px;
}

.inner-container {
  display: flex;
  /* topbar50px ki hai tab */
  height: calc(100% - 50px);
}

.left-panel {
  width: 200px;
  padding: 10px;
  border-right: 1px dashed #999;
}

.right-panel {
  width: 220px;
  padding: 10px;
  border-left: 1px dashed #999;
}

.middle-area {
  flex: 1;
  position: relative;
  background: white;
  border: 2px dashed #333;
  margin: 10px;
}

/* Rectangle style */
.rectangle {
  cursor: pointer;
}

/* Selected element */
.selected {
  outline: 3px dashed rgb(142, 134, 134);
}
